@import './vars';

%mainWrapper{
	padding: $wrapperPadding;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

%titleFont {
	margin: 10% 0 40px;
	font-size: 36px;
	color: #339860;
	text-shadow:
		-0 -2px 1px #FFFFFF,
		0 -2px 1px #FFFFFF,
		-0 2px 1px #FFFFFF,
		0 2px 1px #FFFFFF,
		-2px -0 1px #FFFFFF,
		2px -0 1px #FFFFFF,
		-2px 0 1px #FFFFFF,
		2px 0 1px #FFFFFF,
		-1px -2px 1px #FFFFFF,
		1px -2px 1px #FFFFFF,
		-1px 2px 1px #FFFFFF,
		1px 2px 1px #FFFFFF,
		-2px -1px 1px #FFFFFF,
		2px -1px 1px #FFFFFF,
		-2px 1px 1px #FFFFFF,
		2px 1px 1px #FFFFFF,
		-2px -2px 1px #FFFFFF,
		2px -2px 1px #FFFFFF,
		-2px 2px 1px #FFFFFF,
		2px 2px 1px #FFFFFF,
		-2px -2px 1px #FFFFFF,
		2px -2px 1px #FFFFFF,
		-2px 2px 1px #FFFFFF,
		2px 2px 1px #FFFFFF;

	@media screen and (max-width: 385px){font-size: 28px;}
}

%mainBtnNextPage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $bgMain;
	color: $fontColor;
	border-radius: 50px;
	padding: 15px 30px;
	cursor: pointer;
	transition: background 0.2s;
	>img {width: 8px;}
	&:hover {background: #339860;}
}